[Desktop Entry]
Name=AeroFTP
Comment=Fast, Beautiful, Reliable FTP Client
Exec=aeroftp
Icon=${SNAP}/usr/share/icons/hicolor/256x256/apps/aeroftp.png
Terminal=false
Type=Application
Categories=Network;FileTransfer;Utility;
Keywords=ftp;sftp;transfer;file;sync;
StartupNotify=true
StartupWMClass=AeroFTP
